/*Custom Styles*/
body {
	background: #344355;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h2 {
	font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
  /*padding: 0 68px;*/
}

.container {
	margin-top: 100px;
	max-width: 800px;
}

.seven.columns {
	padding: 200px 0;
}

.iphone {
	width: 100%;
}

footer ul {
  padding: 0;
  margin: 0;
	list-style: none;
}

footer ul li {
	display: inline-block;
}

footer a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
	padding: 0 0 10px 0;
}