/*Custom Styles*/

body {
	background: #344355;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.container {
	max-width: 800px;
}

header {
	margin-top: 50px;
}

h2 {
	font-size: 50px;
  font-weight: 800;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

@media (min-width: 940px) {
	p {
		padding: 0 68px;
	}
}

@media (min-width: 940px) {
	.seven.columns {
		padding: 160px 0;
	}
}

.iphone {
	max-width: 280px;
}

.emoji {
	font-size: 40px;
}

footer {
	margin-top: 40px;
}

footer ul {
  padding: 0;
  margin: 0;
	list-style: none;
}

footer ul li {
	display: inline-block;
}

footer a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
	padding: 0 0 10px 0;
}