/*Custom Styles*/
body {
	background: #344355;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h2 {
	font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
  padding: 0 68px;
}

.container {
	margin-top: 150px;
	max-width: 800px;
}